@import "tailwindcss";
@plugin "daisyui";

body {
  background-color: #111111;
}
.navbar a {
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}
.navbar a:hover {
  border-color: #ff6a00;
  box-shadow: 10px #ff6a00;
}
#nav-btn {
  background: rgba(255, 165, 0, 0.1);
  color: #ff6a00;
  border: 2px solid rgba(255, 165, 0, 0.3);
  backdrop-filter: blur(4px);
  transition: all 0.3s ease;
  box-shadow: 0 0 5px #ffa500, 0 0 5px rgba(255, 165, 0, 0.05);
}
#nav-btn:hover {
  background: rgba(255, 165, 0, 0.2);
  color: #fff;
  border: 2px solid #ffa500;
  box-shadow: 0 0 5px #ffa500, 0 0 5px rgba(255, 165, 0, 0.5);
}
#intro-btn {
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0 0 4px #fff;
  color: #000000;
  text-decoration: none;
}
#intro-btn:hover {
  background: transparent;
  box-shadow: none;
  color: #fff;
}
.social-btn {
  border-radius: 50%;
  transition: 0.5s;
}
.social-btn:hover {
  background: #fff;
  box-shadow: 0 0 5px #fff;
  color: black;
}
#intro-img {
  border: 2px solid #fff;
  animation: glowing 2s ease-in-out infinite;
}
#intro-container {
  background: rgba(255, 255, 255, 0.02);
  border: 2px solid rgba(255, 255, 255, 0.1);
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff;
  }
  50% {
    box-shadow: 0 0 5px #fff, 0 0 2px #fff;
  }
  100% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff;
  }
}
